# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.log

# Design scratch
*.pen

# SwiftPM
.build/

# macOS
.DS_Store

# fastlane
fastlane/AuthKey.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/builds
*.ipa
*.dSYM.zip
